.circuitContainer {
	width: 100%;
	margin: 50px auto 150px auto;
	@media (max-width: 768px) {
		margin: 50px auto 30px auto;
	}
}

.svg {
	width: 100%;
	max-height: 600px;
	overflow: visible;
	@media (max-width: 768px) {
		max-height: 300px;
	}
}

.startPoint {
	filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.8));
	animation: pulse 2s infinite;
}
.car {
	height: 38.5px;
	width: 50px;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.2);
		opacity: 0.7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.milestoneBox {
	filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
	transition: all 0.3s ease;

	&:hover {
		filter: drop-shadow(0 6px 8px rgba(0, 0, 0, 0.35));
	}
}