@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



.landing{
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;

    img{
      object-fit: scale-down;
      object-position: left;
      @media screen and (max-width: 768px) {
        object-fit: cover;
        object-position: right;
      }
    }
    
    .sliderContainer{
      position: absolute;
      top: calc(100vh - 350px);
    }
    
    .slider{
      position: relative;
      white-space: nowrap;
    }
    
    .slider p{
      font-family: Lobster;
      position: relative;
      margin: 0px;
      background: linear-gradient(to right, #aeffb4, #abadff,#ff94ff, #fff48f);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 230px;
      font-weight: 500;
      padding-right: 50px;
    }

    .slider p:nth-of-type(2){
      position: absolute;
      left: 100%;
      top: 0;
    }
    @media screen and (max-width: 768px) {
      .slider p{
        font-size: 100px;
      }
    }
  
    .description{
      position: absolute;
      top: 48%;
      left: 65%;
      color: white;
      font-weight: 300;
      p{
        background: linear-gradient(to right, #aeffb4, #abadff,#ff94ff, #fff48f);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        margin: 0px;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500;
      }
      svg{
        transform: scale(2);
        margin-bottom: 10px;
      }
    }
    @media screen and (max-width: 768px) {
      .description{
        font-size: 12px;
        top: 80%;
        left: 10%;
      }
  }
      @media screen and (max-width: 768px) {
      .description p{
        font-size: 20px;
      }
  }
}
