/* Font is now loaded via next/font/google in layout.js */
body{
    font-family: var(--font-lexend), sans-serif;
    margin: 0px;
    overflow: hidden; 
    cursor: wait;
    background-color: #faebd7;
    @media screen and (max-width: 768px){
        overflow: visible;
    }
}